*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    background-color: rgb(187, 62, 187);
    background-image: url(pics/bgsec1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navi{
    color: white;
}
header{
    height: 60px;
    width: 100%;
    background-color: rgb(255, 144, 255);
    border: 2px solid rgb(255, 255, 255);
    background-image: url(pics/H\ BG.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}
ul{
    display: flex;
   
}
li{
    width: 200px;
 
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.logo{
    margin-left: 30px;
    font-size: 30px;
    color: rgb(214, 62, 209);
   
}
.profile-container {
    height: 600px;
    width: auto;
    display: flex;
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.profile-img {
    width: 600px;
    height: auto;
    border-radius: 5px;
    margin-right: 30px;
}

.profile-info {
    width: 590px;
    height: auto;
    text-align: left;
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
}

.profile-info h3 {
    margin: 5px 0;
    font-size: 18px;
    font-weight: normal;
}

.highlight-box {
    height: 100px;
    width: auto;
    border: 2px solid #da4dda;
    padding: 10px;
    display: inline-block;
    background-color: #952488;
    border-radius: 5px;
}
.section2{
    height: 100vh;
    background-image: url(pics/sec\ 2\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 H1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    color: white;
}
.profile-container2{
    height: 250px;
    width: 120%;
    display: flex;
    color: white;
    padding: 20px;
    align-items: center;
   justify-content: flex-start;
}
.profile-img2{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    align-items: first baseline;
}
.gallery{
    width: 80%;
    height: 65%;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.item{
    height: 100%;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
}
.image{
    height: 50%;
    width: 100%;
 
}
.desc{
    height: 50%;
    width: 100%;
    background-color: #cb6ce6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
p{
    text-align: center;
}
img{
    height: 100%;
    width: 100%;
}




    

